#env
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# # For Playwright E2E (.env.e2e.localなど)
E2E_BASE_URL=http://localhost:3000

E2E_REQUESTER_EMAIL=requester@test.com
E2E_REQUESTER_PASSWORD=password

E2E_APPROVER_EMAIL=approver@test.com
E2E_APPROVER_PASSWORD=password

E2E_ADMIN_EMAIL=admin@test.com
E2E_ADMIN_PASSWORD=password